{% include "_macros/emaillink.html" %}
{% include "_macros/market_tile.html" %}
{% include "_macros/stars.html" %}

<div class="detail top" itemscope itemtype="http://schema.org/SoftwareApplication">
  <section class="main product-details listing expanded c">
    {% localforage (key='app', slug=slug, id='app-data') %}
      {{ market_tile(this, src='detail') }}
    {% placeholder %}
      <p class="spinner padded alt"></p>
    {% except %}
      <div class="detailed-error">
        <h2>{{ _('Oh no!') }}</h2>
        <p>{{ _('The app requested was not found.') }}</p>
      </div>
    {% end %}
  </section>
</div>

{% localforage (key='app', slug=slug) %}
  <div class="main blurbs prose infobox detail">
    <div>
      <h3>{{ _('Description') }}</h3>
      {{ this.description|translate(this)|summarise('market-tile-description', true)|safe }}
    </div>
  </div>
{% except %}
{% end %}

{% localforage (key='app', slug=slug) %}
<section class="main infobox support c">
  <ul class="c">
    {% if this.support_email %}
      <li class="support-email" data-tracking="Support email">
        {{ emaillink(this.support_email, _('Support Email'), class='button') }}
      </li>
    {% endif %}
    {% if this.support_url %}
      <li class="support-url online" data-tracking="Support site">
        <a class="button" rel="external" {{ this.support_url|external_href }}>
          {{ _('Support Site') }}</a>
      </li>
    {% endif %}
    {% if this.homepage %}
      <li class="homepage online" data-tracking="Homepage">
        <a class="button" rel="external" {{ this.homepage|external_href }}>{{ _('Homepage') }}</a>
      </li>
    {% endif %}
    {% if this.privacy_policy %}
      <li class="privacy-policy online" data-tracking="Privacy policy">
        <a class="button" href="{{ url('app/privacy', [slug]) }}">
        {{ _('Privacy Policy') }}</a>
      </li>
    {% endif %}
    <li class="abuse online" data-tracking="Report abuse">
      <a class="button" href="{{ url('app/abuse', [slug]) }}">
      {{ _('Report Abuse') }}</a>
    </li>
  </ul>
</section>
{% except %}
{% end %}

<div class="detail">
  {% include "detail/content_ratings.html" %}
</div>
