{% macro header_link(route, slug, name) %}
 <li class="{{ slug }}">
   <a href="{{ route }}" data-category="{{ slug }}"><b>{{ name }}</b></a>
 </li>
{% endmacro %}

{% macro category_link(slug, name) %}
  {{ header_link(url('category', [slug]), slug, name) }}
{% endmacro %}

<ul class="category-nav">
  {{ header_link(url('homepage'), 'home', _('Home')) }}
  {{ category_link('tarako-games', _('Games')) }}
  {{ category_link('tarako-tools', _('Tools')) }}
  {{ category_link('tarako-lifestyle', _('Lifestyle')) }}
</ul>
