@import 'lib';

$triangle-size = 20px;

// base class

.mkt-tile {
    color: $castle-skull-gray;
    display: block;
    overflow: hidden;
    position: relative;
    &:hover {
        text-decoration: none;
    }
    .icon {
        display: block;
    }
    .info h3,
    .subdetail {
        /* subdetail contains .author and .content-rating. */
        ellipsis();
    }
}

.grid, .listing {
    clear: both;
    list-style: none;
    width: 100%;
}

// Listing
// name + icon + price + rating in a vertical listview.
// also used as standalone "card" on detail pages.

.mkt-tile .rating {
    clear: left;
    color: $sailor-blue;
    display: block;
    font-size: 12px;
    padding: 8px 0;
    position: relative;

    a {
        text-decoration: none;
        &:hover .cnt {
            text-decoration: underline;
        }
    }
    .cnt {
        position: relative;
        top: -2px;
    }
    &.unrated, &.unrated a {
        color: $earl-gray;
    }
}

.listing .mkt-tile {
    min-height: 64px;
    padding: 15px 10px 15px 84px;

    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 18px;
        margin: -4px 0 -7px;
        padding-bottom: 10px;
    }
    .icon {
        float: left;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    .subdetail {
        color: $earl-gray;
        font-size: 12px;
        line-height: 18px;
        max-height: 28px;

        &.content-rating {
            margin-bottom: -2px;
            padding-bottom: 8px;
        }
    }
    .button {
        height: 28px;
        line-height: 28px;
        font-size: 13px;
        margin-left: 10px;
        min-width: 90px;
        padding: 0;
        width: 90px;
    }
    .price {
        display: none;
    }
}

// Previews tray.
.expanded .mkt-tile + .tray {
    display: block;
}
.mkt-tile + .tray {
    background: $salt-flat-white;
    border-radius: 0 0 10px 10px;
    display: none;
    height: 230px;
    overflow: hidden;
    padding: 21px 0 0;
    position: relative;

    &.single {
        // No dots so make it smaller. Leave 15px from bottom of screenshot to bottom of tray.
        height: 201px;
    }
    .slider {
        margin-top: 15px;
        overflow: hidden;
        -moz-user-select: none;
    }
    ul {
        height: 150px; // 150 + 15
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }
    li {
        float: left;
        margin-left: 15px;
        text-align: center;
        width: 150px; // Max height/width of image.
        &:first-child {
            margin-left: 0;
        }
        // The following creates a square container
        // that is as tall as the li is wide and
        // positions the img vertically and
        // horizontally center.
        .thumbnail {
            display: block;
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }
        img {
            -moz-user-select: none;
            bottom: 0;
            display: block;
            left: 0;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.mkt-tile + .single li {
    width: 100%;
    img {
        position: static;
    }
}

$dot-size = 11px;

.tray {
    .dots {
        margin-top: 24px;
        height: $dot-size;
        text-align: center;
        width: 100%;
    }
    .dot {
        background: $cloud-gray;
        border-radius: ($dot-size/2);
        display: inline-block;
        height: $dot-size;
        margin: 0 3px;
        width: $dot-size;
        &.current {
            background: $sailor-blue;
        }
    }
}

.bad-app,
.shots .next,
.shots .prev {
    display: none;
}

.product-details .bad-app {
    color: $maroon;
    display: block;
    font-size: 11px;
    line-height: 12px;
}

.island {
    background: #fff;
    border-bottom: 1px solid $cement-gray;
    font-size: 15px;
    line-height: 16px;
}

.category {
    .view-all {
        display: none;
    }
    .view-all-mbl {
        border-bottom: 1px solid $link;
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        margin: 0 auto 10px 50%;
        padding: 2px 25px;
        text-align: center;
        transform: translate(-50%, 0);
        &:before, &:after {
            border-left: 1px solid $link;
            bottom: 0;
            content: "";
            height: 5px;
            position: absolute;
            width: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

img {
    transition(opacity .1s);
}
#page .screenshot .deferred,
#page .icon.deferred {
    height: 60px;
    opacity: 0.2;
    width: 42px;
}
#page .mkt-tile .icon.deferred {
    left: 13px;
    margin: 0 38px 4px 0;
    position: relative;
    top: 0;
}
#page .screenshot img.deferred {
    /* Screenshots use placeholder image, make it look nice. */
    height: 60px;
    margin-top: 40px;
}

// Grid
// store graphic, name, price in a floated grid (3 tiles wide at 320).

// We need to duplicate these styles because we use this for
// .grid at desktop width and for .listing.grid-if-desktop at mobile width.
grid-style() {
    font-size: 0; // Nuke whitespace
    margin: 0 auto;
    max-width: $desktop-content;
    li {
        display: inline-block;
        padding: 15px 10px;
        position: relative;
        vertical-align: top;
        width: (100% / 3);
    }
    .subdetail, .button, .cnt {
        display: none;
    }
    .mkt-tile {
        position: relative;
        width: 100%;
        &:hover .icon {
            opacity: .8;
        }
        &:active .icon {
            opacity: .4;
        }
        h3, .vital {
            font-size: 12px;
        }
        h3 {
            font-weight: 400;
            line-height: 16px;
            margin-bottom: -2px;
            padding-bottom: 2px;
        }
        .info {
            padding-top: 10px;
        }
        .price {
            color: $sailor-blue;
            font-weight: 400;
            margin-bottom: 2px;
        }
        .rating {
            padding: 0;
        }
    }
}

.grid {
    grid-style();
}

.listing.grid-if-desktop .mkt-tile + .tray,
.listing.grid-if-desktop .mkt-tile + .tray img {
    display: none;
}

.tabs {
    position: absolute;
    top: 0;
    width: 100%;
    a {
        color: $london-fog-gray;
        display: inline-block;
        ellipsis();
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        line-height: 29px;
        margin-top: 7px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 .5px 1px #fff;
        z-index: 2;
        vertical-align: bottom;
        &:hover {
            border-bottom: 2px solid $seavan-salt-white;
        }
        &.active {
            border-bottom: 2px solid $flamin-hot-cheetos-orange;
            font-weight: 500;
            pointer-events: none;
        }
        + a {
            margin-left: 30px;
        }
    }
}

@media $narrower-than-desktop {
    .purchases .mkt-tile + .tray {
        display: none;
    }
    .gallery {
        background: $seavan-salt-white;
    }
    .grid li {
        &:nth-child(4):before {
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: -1px;
            // Span 3 columns.
            width: calc(unquote('300% - 20px'));
        }
        // Show 3 at most (per UX).
        &:nth-child(3) ~ li {
            display: none;
        }
    }
    .tabs + .view-all {
        display: none;
    }
}

.listing {
    margin-bottom: 10px;
    .loadmore {
        margin-bottom: -10px;
    }
    li.item {
        background: #fff;
        border-bottom: 1px solid $cement-gray;
        border-radius: 5px;
        margin: 10px 10px 0;
        position: relative;
        &:hover {
            border-color: darken($seavan-salt-white, 10%);
        }
        &:not(.loadmore):last-child {
            margin-bottom: 10px;
        }
    }
}

.search-listing .mkt-tile + .tray {
    border-radius: 0 0 5px 5px;
}

ratings-sidebar() {
    // These rules get applied on mobile detail page and desktop category listing pages.
    .rating {
        bottom: 2px;
        clear: left;
        padding: 10px 0 10px;
        position: relative;

        .cnt {
            display: inline-block;
            // To line up with app name.
            margin-left: 8px;
            top: -1px;
            &.short {
                display: none;
            }
        }
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 18px;
        max-width: 100%;
    }
    .subdetail {
        font-size: 12px;
        line-height: 18px;
    }
}

.listing {
    margin-bottom: 0;

    .bad-app {
        padding-top: 2px;
        padding-right: 100px;
        clear: left;
    }
    .info + .bad-app {
        padding-top: 8px;
    }
    .mkt-tile {
        padding: 15px 10px;
        position: relative;

        .icon {
            float: left;
            margin-right: 15px;
            position: static;
            width: 64px;
        }
        h3 {
            color: $castle-skull-gray;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 0;
            max-width: 100%;
        }
    }
    .install {
        bottom: 10px;
        position: absolute;
        right: 10px;
    }
    &.expanded .mkt-tile + .tray {
        &:before, &:after {
            border-bottom: $triangle-size solid $salt-flat-white;
            bottom: 0;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: 0;
            width: 50%;
            z-index: 5;
        }
        &:before {
            // dotted gets rid of strange edge rendering in b2g.
            border-right: $triangle-size dotted transparent;
            left: -($triangle-size);
        }
        &:after {
            border-left: $triangle-size dotted transparent;
            right: -($triangle-size);
        }
    }

    &.expanded .mkt-tile + .tray:before,
    &.expanded .mkt-tile + .tray:after,
    &.product-details .mkt-tile {
        //background: #f4f4f4;
        background: #fff;
    }

    &.product-details {
        background: #fff;
        border-radius: 10px 10px 0 0;
        .mkt-tile {
            border-radius: 10px 10px 0 0;
            ratings-sidebar();
            + .tray {
                border-radius: 0;
            }
        }
    }
}

@media $narrower-than-desktop {
    .listing.grid-if-desktop {
        .mkt-tile .rating .cnt {
            top: -2px;
        }
        // The mocks call for some padding.
        &:not(:first-child) {
            padding-top: 8px;
        }
    }
    .tabs {
        border-bottom: 1px solid $cloud-gray;
        font-size: 13px;
        position: static;
        padding: 0 10px;
    }
    .category.gallery {
        // On desktop we like a nice border.
        border: 0;
    }
    .category.gallery .featured-header {
        padding: 5px 0;
    }
}

.cnt.short {
    display: none;
}

@media (max-width: 400px) {
    // Show "({num})" on narrow mobile.
    .cnt.short {
        display: inline-block;
    }
    // Hide "{num} Reviews" on narrow mobile.
    .cnt.long {
        display: none;
    }
}
