@import 'lib';

// Site-wide or structural styles only in this file.
// Can't find a better file for your style? Create one!
// This is not your diaper.

* {
    -moz-box-sizing: border-box;
    word-wrap: break-word;
}

.js-hidden, .hidden {
    display: none;
}

.emaillink-wrapper {
    /* Necessary when emaillink is in a paragraph. */
    display: inline-block;
}

span.emaillink {
    direction: rtl;
    unicode-bidi: bidi-override;
    .i {
        display: none;
    }
}

noscript {
    background: $salt-flat-white;
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
    p {
        background: url(../img/pretty/marketplace_logo.png) 50% 48% no-repeat;
        background-size: auto 60px;
        display: table-cell;
        font-weight: bold;
        height: 100%;
        padding-top: 60px;
        text-align: center;
        vertical-align: middle;
    }
}

a {
    text-decoration: none;
    color: $sailor-blue;

    &:hover {
        text-decoration: underline;
    }
    &:not([href]) {
        cursor: pointer;
    }
}

body {
    background: $salt-flat-white;
    color: $castle-skull-gray;
    // min-height needed so ff b2g/android can scroll to 0 (bug 872622).
    min-height: 300px;
    overflow-x: hidden;
    transform-origin: 50% 400px;
    transition: transform 1s;
}

#site-header, #page {
    min-width: 320px;
    section.main {
        margin-left: auto;
        margin-right: auto;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        &.full {
            width: 100%;
            > div {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

#page {
    position: relative;
}

.row {
    clear: both;
}

.detailed-error, .fragment-error {
    background: #fff;
}

.detailed-error {
    padding: 15px;
}

.fragment-error {
    display: block;
    padding: 15px;
    b {
        display: block;
    }
}

.main {
    margin: 0 auto;
    .fragment-error {
        padding: 0;
    }
}
#page > .overlay {
    max-width: 100%;
}

.two-up {
    width: 50%;
    float: left;
    &:nth-child(2n+1) {
        padding: 0 5px 0 0;
    }
    &:nth-child(2n) {
        padding: 0 0 0 5px;
    }
    .button {
        display: block;
    }
}

#site-footer,
.only-logged-in,
.logged-in .only-logged-out {
    display: none;
}

.only-logged-out,
.logged-in .only-logged-in {
    display: block;
}

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

[data-page-type=nag] #site-footer {
    display: none;
}

.nag-screen {
    text-align: center;

    > * {
        margin-bottom: 20px;
    }
}

/* For Firefox for Android. */
button:not([disabled]):active,
input:not([disabled]):active,
select:not([disabled]):active,
textarea:not([disabled]):active,
option:active,
label:active,
a:active {
    background: transparent;
}
