@import 'lib';

.featured-header {
    padding-top: 18px;

    h3 {
        font-weight: 400;
    }
}

@media $narrower-than-desktop {
    [data-page-type~="root"] .market-tile-description {
        color: #797979;
        font-size: 14px;
        line-height: 20px;
        padding: 10px;
    }
}

.category-nav {
    background: #e0e0e0;
    font-size: 0;
    list-style: none;
    text-align: center;
    width: 100%;

    li {
        background-image: url(/media/img/yogafire/categories.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 25%;

        &.home {
            background-position: center -151px;
        }
        &.tarako-games {
            background-position: center -11px;
        }
        &.tarako-lifestyle {
            background-position: center -291px;
        }
        &.tarako-tools {
            background-position: center -431px;
        }
    }
    a {
        color: #1A1A1A;
        display: block;
        font-size: 15px;
        margin: 0 auto;
        padding-top: 40px;

        b {
            border-bottom: 3px solid transparent;
            display: inline-block;
            font-weight: 400;
            padding-bottom: 3px;
        }
    }
}

/* Active state category nav. */
active_category() {
    a {
        color: #4CB1FF;
    }
    b {
        border-bottom: 3px solid #4CB1FF;
    }
}

[data-page-type="root"] .category-nav .home {
    active_category();
    background-position: center -221px;
    pointer-events: none;
}
[data-page-type~="tarako-games"] .category-nav .tarako-games {
    active_category();
    background-position: center -81px;
    pointer-events: none;
}
[data-page-type~="tarako-lifestyle"] .category-nav .tarako-lifestyle {
    active_category();
    background-position: center -361px;
    pointer-events: none;
}
[data-page-type~="tarako-tools"] .category-nav .tarako-tools {
    active_category();
    background-position: center -501px;
    pointer-events: none;
}

.category main ol,
.featured main ol,
.results main ol {
    list-style: none;
}

.category main li,
.featured main li,
.results main li {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    min-height: 70px;
    width: 100%;
}

.support-list {
    width: 100%;

    a.button {
        background: #4cb1ff;
        color: #fff;
        margin: 10px 10px 0;
        width: unquote('calc(100% - 20px)');
    }
}

[data-page-type~="detail"] {
    .detail.top {
        background: none;
        box-shadow: none;

        .listing.product-details {
            background: none;
        }
        .mkt-tile {
            border-radius: 10px;
            box-shadow: 0px 1px 1px $cement-gray;
            z-index: 6;
        }
        .tray.previews {
            height: auto;
            padding: 0 0 10px;

            &:before,
            &:after {
                border: 0;
            }
        }
    }
    .detail.prose {
        margin-top: 10px;

        div {
            padding-bottom: 10px;
        }
        p {
            margin: 0;
        }
        h3 {
            font-weight: bold;
            margin: 0 0 10px;
        }
    }
    .infobox.support {
        border: 0;
        padding: 10px 0;

        ul.c li {
            padding: 0;
            float: none;
            margin: 10px 10px 0;
            width: unquote('calc(100% - 20px)');
        }
    }
    .detail .content-ratings-wrapper {
        border: 0;
    }
}

.listing .mkt-tile {
    h3.tight {
        padding-bottom: 5px;
    }
    .button {
        bottom: -4px;
    }
    .info {
        left: 84px;
        position: absolute;
        width: 217px;
    }
    .subdetail.content-rating {
        margin-bottom: -4px;
        padding-bottom: 0;
    }
    .subdetail {
        max-width: 110px;
    }
}

.listing.product-details .mkt-tile {
    height: 110px;
    .info {
        min-height: 90px;
    }
    h3.tight {
        padding-bottom: 10px;
    }
    .rating {
        bottom: 10px;
        left: -74px;
        position: absolute;
        .cnt {
            top: 1px;
        }
    }
    .button {
        bottom: 10px;
    }
}
