@import 'lib';

$yoga-blue = #4CB1FF;
$yoga-gray = #E0E0E0;

.featured-header {
    padding-top: 18px;

    h3 {
        font-weight: 400;
    }
}

@media $narrower-than-desktop {
    [data-page-type~="root"] .market-tile-description {
        color: #797979;
        font-size: 14px;
        line-height: 20px;
        padding: 10px;
    }
}

.category-nav {
    background: $yoga-gray;
    font-size: 0;
    list-style: none;
    text-align: center;
    width: 100%;

    li {
        background-image: url(/media/img/yogafire/categories.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 25%;

        &.home {
            background-position: center -151px;
        }
        &.tarako-games {
            background-position: center -11px;
        }
        &.tarako-lifestyle {
            background-position: center -291px;
        }
        &.tarako-tools {
            background-position: center -431px;
        }
    }
    a {
        color: #1A1A1A;
        display: block;
        font-size: 15px;
        margin: 0 auto;
        padding-top: 40px;

        b {
            border-bottom: 3px solid transparent;
            display: inline-block;
            font-weight: 400;
            padding-bottom: 3px;
        }
    }
}

/* Active state category nav. */
active_category() {
    a {
        color: $yoga-blue;
    }
    b {
        border-bottom: 3px solid $yoga-blue;
    }
}

[data-page-type="root"] .category-nav .home {
    active_category();
    background-position: center -221px;
    pointer-events: none;
}
[data-page-type~="tarako-games"] .category-nav .tarako-games {
    active_category();
    background-position: center -81px;
    pointer-events: none;
}
[data-page-type~="tarako-lifestyle"] .category-nav .tarako-lifestyle {
    active_category();
    background-position: center -361px;
    pointer-events: none;
}
[data-page-type~="tarako-tools"] .category-nav .tarako-tools {
    active_category();
    background-position: center -501px;
    pointer-events: none;
}

.category main ol,
.featured main ol,
.results main ol {
    list-style: none;
}

.category main li,
.featured main li,
.results main li {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    min-height: 70px;
    width: 100%;
}

.support-list {
    width: 100%;

    a.button {
        background: $yoga-blue;
        color: #fff;
        margin: 10px 10px 0;
        width: unquote('calc(100% - 20px)');
    }
}

[data-page-type~="root"],
[data-page-type~="search"] {
     .listing .mkt-tile {
        .subdetail.content-rating {
            margin-bottom: -4px;
            position: relative;
            padding: 3px 0 0;
        }
    }
}

.listing .mkt-tile {
    .button {
        bottom: 8px;
    }
    .info {
        left: 84px;
        position: absolute;
        width: 217px;
    }
    h3 {
        line-height: 18px;
    }
    .subdetail {
        line-height: 15px;
        max-width: 200px;
    }
}

.mkt-tile .bad-app {
    display: none;
}

[data-page-type~="detail"] {
    .listing .mkt-tile {
        height: 110px;

        .info {
            min-height: 90px;
        }
        h3 {
            line-height: 20px;
            padding-bottom: 8px;
        }
        .rating {
            bottom: 8px;
            left: -74px;
            position: absolute;

            .cnt {
                top: 0;
                margin-left: 3px;
            }
        }
        .button {
            bottom: 8px;
        }
    }
    .detail.top {
        background: none;
        box-shadow: none;

        .listing.product-details {
            background: none;
        }
        .mkt-tile {
            border-radius: 10px;
            box-shadow: 0px 1px 1px $cement-gray;
            z-index: 6;
        }
        .tray.previews {
            height: auto;
            padding: 0 0 10px;

            &:before,
            &:after {
                border: 0;
            }
        }
    }
    .detail.prose {
        margin-top: 10px;

        div {
            padding-bottom: 10px;
        }
        p {
            margin: 0;
        }
        h3 {
            font-weight: bold;
            margin: 0 0 10px;
        }
    }
    .infobox.support {
        border: 0;
        padding: 10px 0;

        ul.c li {
            padding: 0;
            float: none;
            margin: 10px 10px 0;
            width: unquote('calc(100% - 20px)');
        }
    }
    .detail .content-ratings-wrapper {
        border: 0;

        h3 {
            font-weight: bold;
        }
    }
}

.single .dots {
    display: none;
}

// Offline
.offline .offline-screen {
    display: table;
}

.offline-screen {
    background: url("/media/img/yogafire/offline_bg.png") no-repeat;
    color: $dark-gray;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    button {
        height: inherit;
        line-height: 30px;
        min-width: inherit;
        padding: 0 10px;
    }
}

.offline-screen > div {
    display: table-cell;
    padding: 0 0 50px;
    text-align: center;
    vertical-align: bottom;
}

.offline-message {
    font-weight: 600;
    margin: 15px auto;
    width: 80%;
}

// Screenshot prev/next navigation.
button.ssnav {
    background: $yoga-blue;
    border-radius: 5px;
    border: 0;
    color: #fff;
    display: none;
    font-size: 60px;
    font-weight: 100;
    height: 100px;
    left: 0;
    padding: 0 3px;
    position: absolute;
    top: 40px;
    width: 25px;
    z-index: 6;

    &:active {
        background: darken($yoga-blue, 10%);
    }
    &:last-child {
        left: inherit;
        right: 0;
    }
}

.slider {
    &:before, &:after {
        background: $salt-flat-white;
        content: "";
        height: 200px;
        position: absolute;
        width: 60px;
        z-index: 5;
    }
    &:after {
        right: 0;
        top: 15px;
    }
}

#search-q {
    background-color: #fff;
    border-width: 1px;
    border-radius: 5px;
}

[data-page-type~="search"] {
    .mkt-tile {
        padding-bottom: 20px;
    }
    .mkt-tile + .tray {
        background: $yoga-gray;
        height: 215px;
        padding-top: 0;

        button.ssnav {
        }
        .slider {
            &:before,
            &:after {
                background: $yoga-gray;
            }
        }
    }
}

// Fatten the search bar.
header.site-header,
header.site-header > nav {
    height: 58px;
    max-height: 58px;
}

body main {
    padding-top: 58px;

    &:before {
        top: 57px;
    }
}

input#search-q {
    height: 45px;
}
